In [9]:
import pandas as pd

In [11]:
# Load the datasets
red_wine_path = 'winequality-red.csv'
white_wine_path = 'winequality-white.csv'

# Reading the datasets
red_wine_df = pd.read_csv(red_wine_path)
white_wine_df = pd.read_csv(white_wine_path)

red_wine_df.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5

In [12]:
# Define column names for the multi-column format
column_names = [
    "fixed acidity", "volatile acidity", "citric acid", "residual sugar",
    "chlorides", "free sulfur dioxide", "total sulfur dioxide",
    "density", "pH", "sulphates", "alcohol", "quality"
]

# Split the single column into multiple columns by ';' delimiter
red_wine_split = red_wine_df.iloc[:, 0].str.split(';', expand=True)
white_wine_split = white_wine_df.iloc[:, 0].str.split(';', expand=True)

# Assigning the column names to the split dataframes
red_wine_split.columns = column_names
white_wine_split.columns = column_names

# Adding a 'type' column to distinguish between red and white wines
red_wine_split['type'] = 'red'
white_wine_split['type'] = 'white'

# Combining the red and white wine datasets into one
combined_wine_split_df = pd.concat([red_wine_split, white_wine_split], ignore_index=True)

# Display the first few rows of the combined dataset
combined_wine_split_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6,red
4,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5,red

In [6]:
combined_wine_split_df.shape

(6497, 13)

In [13]:
# Define the output path for the new CSV
output_path = 'combined_wine_quality.csv'

# Save the combined dataset to a CSV file
combined_wine_split_df.to_csv(output_path, index=False)

# Display the output path for reference
output_path

'combined_wine_quality.csv'